body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

#userList {
  margin-top: 20px;
}

.user-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#bottomButtons {
  margin-top: 40px;
  text-align: center;
}


